@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body { background:rgb(30,30,40); }
form { max-width:600px;margin-top:4rem; color:#F4F0E9;}

.feedback-input {
  color:#3B4347;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #00CC65;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #6F7A7E;
}
.feedback-input::-moz-placeholder { /* Firefox 19+ */
  color: #6F7A7E;
}
.feedback-input::-ms-input-placeholder { /* IE 10+ */
  color: #6F7A7E;
}
.feedback-input::-moz-placeholder { /* Firefox 18- */
  color: #6F7A7E;
}

.feedback-input:focus { border:2px solid #00CC65; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
  color:#3B4347;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#00CC65;
  border:0;
  cursor:pointer;
  color:#3B4347;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#00CC65; }
