<!DOCTYPE html>
<html lang="fr">

<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Dulac Translation Services</title>
    <meta name="description" content="Excellent, Reliable and Accurate" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href='./assets/css/screen.css' />
    <link rel="stylesheet" type="text/css" href='./assets/css/form.css'>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700' rel='stylesheet'
        type='text/css'>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.min.css">
    <link
        href='http://fonts.googleapis.com/css?family=Oswald:400,300,700|Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800|Roboto+Slab:400,100,300,700'
        rel='stylesheet' type='text/css'>

    <link href="https://fonts.googleapis.com/css?family=Cardo" rel="stylesheet">

    <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css'>

    <meta name="description" content="Excellent, Reliable and Accurate" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="canonical" href="http://localhost:2368/" />
    <meta name="referrer" content="no-referrer-when-downgrade" />

    <meta property="og:site_name" content="Dulac Translation Services" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Dulac Translation Services" />
    <meta property="og:description" content="Excellent, Reliable and Accurate" />
    <meta property="og:image" content="./annie-spratt-197448-unsplash.jpg" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Dulac Translation Services" />
    <meta name="twitter:description" content="Excellent, Reliable and Accurate" />
    <meta name="twitter:image" content="./annie-spratt-197448-unsplash.jpg" />
    <meta property="og:image:width" content="2000" />
    <meta property="og:image:height" content="1248" />
</head>

<body class="home-template">


    <header id="site-head" style="background-image: url(./assets/images/annie-spratt-197448-unsplash.jpg)">
        <div class="vertical">
            <div id="site-head-content" class="inner">


                <h1 class="blog-title">Dulac Translation Services</h1>
                <hr class="gradient_line">
                <h2 class="blog-description">excellence, fiabilité et précision</h2>
                <a class="btn english" href="/">English</a>
                <a class='btn first'>Services</a>
                <a class='btn last'>À propos </a>
                <a class='btn tag-second fn-item-styleless' item_index="3">Contact</a><br> <!-- href="#contact-tag"-->
                <i id='header-arrow' class="fa fa-angle-down"></i>
            </div>
        </div>

    </header>

    <main class="content" role="main">

        <div class='fixed-nav'>
        </div>

        <div class='post-holder'>
            <article class="post tag-services first">


                <header class="post-header">

                    <h2 class="post-title">Services</h2>

                </header>
                <section class="post-content">
                    <p>
                    <div class="services-content_en">
                        <p></p>
                        <p>Vous devez faire traduire une présentation pour votre réunion d'affaires? </p>
                        <p>Rendre votre site Web bilingue pour accroître votre visibilité est l'une de vos priorités,
                            <br />mais vous ne savez pas par où commencer?</p>
                        <p>Vous voulez rendre votre contenu publicitaire accessible aux clients anglophones?</p>
                        <p><em><strong>Bonne nouvelle!</strong></em> &nbsp;C'est justement ma spécialité!</p><br />
                    </div>

                    <div class="services-content_fr">
                        <p></p>
                        <p>Besoin de faire traduire un document pour votre réunion? </p>
                        <p>Vous voulez faire traduire votre site Web?</p>
                        <p>Vous voulez entrer en contact avec des clients anglophones?</p>
                        <p><em><strong>Bonne nouvelle!</strong></em> &nbsp;C'est justement ma spécialité!</p>
                        <p> Mes services de traduction sont offerts de <em>l'anglais au français</em></p><br />
                    </div>

                    <div id="services_en" class="services">
                        <section class="pricecol">
                            <div class="icon">
                                <i class="icon-suitcase"></i>
                            </div>
                            <h3 class='service-title'><span>Services</span></h3>
                            <ul class='service-list'>
                                <li class='service-item'>Traduction générale</li>
                                <li class='service-item'>Révision bilingue</li>
                                <li class='service-item'>Rédaction</li>
                                <li class='service-item'>Développement Web</li>
                            </ul>
                        </section>

                        <section class='pricecol'>
                            <div class='icon'>
                                <i class='icon-terminal'></i>
                            </div>
                            <h3 class='service-title'><span>Techno et TI</span></h3>
                            <ul class='service-list'>
                                <li class='service-item'>Documentation</li>
                                <li class='service-item'>Manuels utilisateurs</li>
                                <li class='service-item'>Localisation Web</li>
                                <li class='service-item'>Fiches de produit</li>
                            </ul>

                        </section>

                        <section class="pricecol">
                            <div class="icon">
                                <i class="icon-suitcase"></i>
                            </div>
                            <h3 class="service-title"><Span>Commercial</span></h3>
                            <ul class="service-list">
                                <li class="service-item">Études et rapports</li>
                                <li class="service-item">Marketing</li>
                                <li class="service-item">Présentations</li>
                                <li class="service-item">Média Sociaux</li>
                            </ul>
                        </section>

                    </div>

                    <div id="services_fr" class="services">
                        <section class='pricecol'>
                            <div class='icon'>
                                <i class='icon-suitcase'></i>
                            </div>
                            <h3 class='service-title'><span>Commercial</span></h3>
                            <ul class='service-list'>
                                <li class='service-item'>Études et rapports</li>
                                <li class='service-item'>Marketing</li>
                                <li class='service-item'>Présentations</li>
                                <li class='service-item'>Médias sociaux</li>
                            </ul>

                        </section>

                        <section class='pricecol'>
                            <div class='icon'>
                                <i class='icon-terminal'></i>
                            </div>
                            <h3 class='service-title'><span>Techno et TI</span></h3>
                            <ul class='service-list'>
                                <li class='service-item'>Documentation</li>
                                <li class='service-item'>Manuels utilisateurs</li>
                                <li class='service-item'>Localisation Web</li>
                                <li class='service-item'>Fiches de produit</li>
                            </ul>

                        </section>
                        <section class='pricecol'>
                            <div class='icon'>
                                <i class='icon-rocket'></i>
                            </div>
                            <h3 class='service-title'><span>Services généraux</span></h3>
                            <ul class='service-list'>
                                <li class='service-item'>Traduction générale</li>
                                <li class='service-item'>Révision bilingue</li>
                                <li class='service-item'>Rédaction</li>
                                <li class='service-item'>Développement Web</li>
                            </ul>
                        </section>
                    </div>
                    <p></p>
                    </p>
                </section>
            </article>
            <div class='post-after'></div>
        </div>

        <div class='post-holder'>

            <article class="post">
                <header class="post-header">

                    <h2 class="post-title">Processus</h2>

                </header>
                <section class="post-content">
                    <p>
                    <p>Des traductions de qualité et un service personnalisé, telles sont mes garanties. </p>
                    <p>Vous pourrez enfin avoir l'esprit tranquille grâce à <strong>trois étapes toutes
                            simples</strong>: </p>
                    <div class="row">
                        <div class="col-3">
                            <div class="step-icon-container">
                                <div class="step-icon">
                                    <i class="fa fa-envelope"></i>
                                </div>
                            </div>

                            <h3 class="step-title"><Span>Signature et envoi</span></h3>
                            <p class="step-description">
                                Après avoir signé le contrat et avoir précisé vos échéances, vous n'avez qu'à envoyer le
                                fichier par transfert sécurisé. La procédure vous sera expliquée en détail.
                            </p>
                        </div>
                        <div class="col-3">
                            <div class="step-icon-container">
                                <div class="step-icon">
                                    <i class="fa fa-coffee"></i>
                                </div>
                            </div>

                            <h3 class="step-title"><Span>Mise en marche</span></h3>
                            <p class="step-description">
                                C'est à ce moment que j'entre en scène. Il ne vous reste plus qu'à vous reposer tandis
                                que j'effectue la traduction. La tâche est entre bonnes mains.
                            </p>
                        </div>
                        <div class="col-3">
                            <div class="step-icon-container">
                                <div class="step-icon">
                                    <i class="fa fa-thumbs-up"></i>
                                </div>
                            </div>

                            <h3 class="step-title"><Span>Révision et remise</span></h3>
                            <p class="step-description">
                                Le travail est terminé! Il ne reste plus qu'à récupérer votre traduction et à poursuivre
                                votre travail. Vous aurez pris la bonne décision en faisant affaire avec Dulac
                                Translation Services
                            </p>
                        </div>
                    </div>
                    <p></p>
                    </p>
                </section>
            </article>
            <div class='post-after'></div>
        </div>

        <div class='post-holder'>

            <article class="post">


                <header class="post-header">

                    <h2 class="post-title">Contact</h2>

                </header>
                <section class="post-content">
                    <p>
                    <p>Si vous avez un projet en tête, si vous souhaitez avoir une estimation ou pour toute autre
                        question, vous pouvez me joindre par courriel.</p><!--kg-card-begin: html-->
                    <h3 id="contact-tag">Sacha-Olivier Dulac</h3>
                    <i>sacha-olivier.dulac@hotmail.com</i><br>
                    <i>1-581-372-4825</i>

                    <form action='https://formspree.io/f/xwkanrzl' method="POST">
                        <input name="name" type="text" class="feedback-input" placeholder="Nom" />
                        <input name="email" type="text" class="feedback-input" placeholder="Courriel" />
                        <textarea name="text" class="feedback-input" placeholder="Message"></textarea>
                        <input type="submit" value="ENVOYER" />
                    </form>

                    <!--kg-card-end: html-->
                    <p></p>
                    <p></p>
                    </p>
                </section>
            </article>
            <div class='post-after'></div>
        </div>

        <div class='post-holder'>

            <article class="post tag-getting-started last">

                <header class="post-header">

                    <h2 class="post-title">À propos</h2>

                </header>
                <section class="post-content">
                    <img src="/content/images/portrait_moi.jpg" class="self-image" alt="" />
                    <p>
                    <p><strong><em>Bonjour, je m'appelle Sacha-Olivier Dulac, </em></strong><em>mais vous pouvez
                            m'appeler Sacha.<strong> </strong></em></p>
                    <p>J'œuvre sans relâche à parfaire l'art de la traduction afin d'offrir les meilleures traductions à
                        mes clients, et ce, en assurant un service à la clientèle hors pair et un haut standard de
                        qualité.</p>
                    <p>En tant que jeune entrepreneur, mes objectifs principaux sont les suivants :</p>
                    <ul>
                        <li><strong>Forger</strong> une pratique de traduction solide </li>
                        <li><strong>Bâtir</strong> des relations d'affaires durables avec mes clients </li>
                        <li><strong>Développer</strong> mon entreprise</li>
                        <li><strong>Approfondir</strong> mon expertise en traduction technique </li>
                    </ul>
                    <p>Je suis mordu de technologie, de voyage, de lecture, d'histoire et de développement personnel.
                    </p>
                    <p>Je crois fermement que nous avons le potentiel de façonner nos vies par notre volonté et notre
                        dévouement. D'ailleurs, je m'efforce d'incarner cette philosophie quotidiennement.</p>
                    </p>
                </section>
            </article>
            <div class='post-after'></div>
        </div>




    </main>


    <footer class="site-footer">

    </footer>



    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

    <script type="text/javascript" src='./assets/js/icons.js'></script>
    <script type="text/javascript" src='./assets/js/index.js'></script>
    <script type="text/javascript" src='./assets/js/translate.js'>

    </script>

</body>

</html>